@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  padding: 8px;
  margin: 5px;
}

body {
  font-family: monospace;
  background-color: #b2deff;
  width: 1200px;
  padding-top: 60px;
  padding-left: 430px;
}
h3 {
  font-size: 22px;
}

input[type="text"] {
  padding: 1em;
  font-size: 1.2em;
  border: 2px solid #000000;
  border-radius: 9px;
  appearance: text-field;
  -moz-appearance: textfield;
  width: 370px;

  
}

button {
  margin-left: 20px;
  background-color: #b2deff;
  cursor: pointer;
  border-radius: 9px;
  font-weight: 600;
}

button:hover {
  background-color: #88c9fa;
}

#root{
  background-color: #FDE74C;
  border: 2px solid #000000;
  border-radius: 8px;
  width: 500px;
  justify-content: center;
  

  
}

.task-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000000;
  background-color: bisque;
  border-radius: 8px;
  margin: 8px 0;
  padding: 10px;
  height: 90px;
 width: 430px;
  font-size: 1.2em;

overflow-wrap: break-word;
}

.task-buttons {
  display: flex;
}

